In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme()

In [2]:
team_stats = pd.read_csv("team_stats.csv")
team_stats.head()

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1949-50,2023-24,75,5928,2925,3003,0.493,49,12,0,1
1,Atlanta Hawks,NBA,1968-69,2023-24,56,4510,2227,2283,0.494,36,6,0,0
2,St. Louis Hawks,NBA,1955-56,1967-68,13,1005,553,452,0.550,12,6,0,1
3,Milwaukee Hawks,NBA,1951-52,1954-55,4,281,91,190,0.324,0,0,0,0
4,Tri-Cities Blackhawks,NBA,1949-50,1950-51,2,132,54,78,0.409,1,0,0,0

In [3]:
try:
    import sklearn
    print(sklearn.__version__)
    if (sklearn.__version__ < '1.3.0'): #update for latest scikit-learn version
        !pip install -U --user scikit-learn
except Exception as e:
    !pip install scikit-learn

1.4.1.post1

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.dummy import DummyClassifier